.alerts-section {
    padding: 20px;
    /* max-width: 1000px; */
    margin: 0 auto;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.transactions-table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}

.transactions-table thead {
    background-color: #2596be;
    color: white;
}

.transactions-table th,
.transactions-table td {
    padding: 12px 15px;
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}

.transactions-table tr:hover {
    background-color: #f1f1f1;
}

.transactions-table th {
    font-weight: 600;
    text-transform: uppercase;
}

.transactions-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.transactions-table td {
    color: #333;
}

@media screen and (max-width: 768px) {
    .transactions-table th,
    .transactions-table td {
        padding: 8px 10px;
        font-size: 14px;
    }
}